* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Form */

.form-container {
  max-width: 528px;
  min-height: 880px;
  margin: 0 auto;
  padding: 40px;
  background-color: #04befe;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    min-height: 560px;
  }
}

.text-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;

  @media screen and (min-width: 380px) {
    font-size: 25px;

    @media screen and (min-width: 480px) {
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }
}

.span-text {
  display: block;
}

.form-feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field,
.textarea-field {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
  line-height: 1.15;
  font-size: 100%;
}

.input-field {
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  height: 40px;
}

.input-field:focus,
.textarea-field:focus {
  outline: 1px solid lightblue;
  border: none;
}
.textarea-field {
  height: 120px;
  resize: none;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.input-field::placeholder,
.textarea-field::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
}

.comments {
  font-size: 12px;
  margin-bottom: 4px;
  letter-spacing: 0.01rem;
  line-height: 1.17;
  font-weight: bold;
}

.btn {
  align-self: center;
  min-width: 145px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-image: linear-gradient(to right, lightblue, blue, lightblue);

  text-align: center;
  cursor: pointer;
  line-height: 1.8;
}

/* Rating  */

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  gap: 5px;
}

.wrapper > input {
  display: none;
}

.radio-label {
  cursor: pointer;
  display: block;
  color: #ffd700;
}

.radio-label:before {
  content: '\2606';
  font-size: 38px;
  display: inline-block;
}

.radio-label:hover:before {
  content: '\2605';
  color: #ffd700;
}

input:checked ~ .radio-label:before {
  content: '\2605';
  color: #ffd700;
}
.text-rate {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

  @media screen and (min-width: 380px) {
    font-weight: bold;
  }
}

/* Notification */
.wrapper1 {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%);
  visibility: visible;
}

.wrapper1.is-hidden {
  visibility: hidden;
  transform: translateX(35px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper-message::before {
  content: '\2713';
  font-size: 30px;
  vertical-align: middle;
}
.wrapper-message {
  width: 220px;
  max-height: 85px;
  background-color: rgb(66, 227, 66);
  padding: 5px 5px 5px 5px;
  text-align: center;
  line-height: 1.07;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 3px;
}
